/* font-face */

@font-face {
font-family: 'Metropolis Regular';
font-style: normal;
font-weight: normal;
src: local('Metropolis Regular'), url('../font/Metropolis-Regular.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Light';
font-style: normal;
font-weight: normal;
src: local('Metropolis Light'), url('../font/Metropolis-Light.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Thin';
font-style: normal;
font-weight: normal;
src: local('Metropolis Thin'), url('../font/Metropolis-Thin.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Medium';
font-style: normal;
font-weight: normal;
src: local('Metropolis Medium'), url('../font/Metropolis-Medium.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Semi Bold';
font-style: normal;
font-weight: normal;
src: local('Metropolis Semi Bold'), url('../font/Metropolis-SemiBold.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Bold';
font-style: normal;
font-weight: normal;
src: local('Metropolis Bold'), url('../font/Metropolis-Bold.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Metropolis Extra Bold'), url('../font/Metropolis-ExtraBold.woff') format('woff');
}

@font-face {
font-family: 'Metropolis Black';
font-style: normal;
font-weight: normal;
src: local('Metropolis Black'), url('../font/Metropolis-Black.woff') format('woff');
}


/* body */

body{
   	font-family: 'Metropolis Regular';
	color:#000000;
	background-color: #FFFFFF;
    transition: all 200ms linear;
}


button:focus, button:active {
	outline: 0;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}

::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

a:hover{
	text-decoration: none;
	color: #FFFFFF;
}

a{
	color: #000000;
}


/* main-register section */
#main{
	display: block;
    background-image: url("../images/bg-main1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:bottom center;
	height: 100%;
	width: 100%;
	position: relative;
}
header {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.head-section .logo-blog{
	padding: 1rem 0;
}
.head-section .logo-blog img{
	width: 40%;
}
.head-section .login-section {
    padding-top: 0.5rem;
}
.head-section .login-section h6{
	font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 13px;
}
.form-group .login-input{
	font-size: 13px;
    color: #3A3A3A;
    padding: 8px 10px 7px 15px;
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: auto;
    width:100%;
    display: block;
}
.form-group .login-input:focus {
    border-color: rgba(2, 145, 28, 0.30) ;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(2, 145, 28, 0.30);
}
.form-group .login-input::-webkit-input-placeholder{
    color:#9A9A9A;
}
.login-btn{
    font-size: 15px;
    font-family: 'Metropolis Regular';
    color: #FFFFFF;
    background-color: #02911C;
    padding: 7px 20px;
    display: inline-block;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid;
}
/* register section */

.reg-section {
    padding: 6rem 0 0rem;
    float: left;
    width: 100%;
    clear: both;
    
}
.reg-section .form-reg h3{
	font-size: 30px;
	font-family: 'Metropolis Bold';
	color: #3A3A3A;
	margin-bottom: 20px;
}

.reg-section .form-reg h6{
	font-size: 16px;
	color: #9A9A9A;
	margin-bottom: 25px;
}

.form-group .reg-input {
    font-size: 15px;
    color: #3A3A3A;
    padding: 10px 15px;
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 0;
    /* line-height: 1; */
}

.form-group .reg-input:focus {
    border-color: rgba(2, 145, 28, 0.30) ;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(2, 145, 28, 0.30);
}

.form-group .reg-input::-webkit-input-placeholder{
    color:#9A9A9A;
}

.form-blog-new [type="checkbox"]:not(:checked),
.form-blog-new [type="checkbox"]:checked {
  	position: absolute;
  	left: -9999px;
}

.form-blog-new [type="checkbox"]:not(:checked) + label,
.form-blog-new [type="checkbox"]:checked + label {
  	position: relative;
    padding-left: 2rem;
    cursor: pointer;
    color: #9A9A9A;
    font-size: 15px;
}

/* [type="checkbox"]:not(:checked) + label:before, */
.form-blog-new [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #02911C;
    border-radius: 2px;
}

.form-blog-new [type="checkbox"]:not(:checked) + label:before{
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #02911C;
    border-radius: 2px;
    background-color: transparent;
}

.form-blog-new [type="checkbox"]:not(:checked) + label:after,
.form-blog-new [type="checkbox"]:checked + label:after {
  	content: '\2713\0020';
  	position: absolute;
  	top: 0px;
  	left: 3px;
  	font-size: 27px;
  	line-height: 0.8;
  	color: #02911C;
  	transition: all .2s;
}

.form-blog-new [type="checkbox"]:not(:checked) + label:after {
  	opacity: 0;
  	transform: scale(0);
}

.form-blog-new [type="checkbox"]:checked + label:after {
  	opacity: 1;
  	transform: scale(1);
}

.form-blog-new [type="checkbox"]:disabled:not(:checked) + label:before,
.form-blog-new [type="checkbox"]:disabled:checked + label:before {
  	box-shadow: none;
  	border-color: #bbb;
  	background-color: #ddd;
}

.form-blog-new [type="checkbox"]:disabled:checked + label:after {
  	color: #999;
}
.form-blog-new [type="checkbox"]:disabled + label {
  	color: #aaa;
}
.green-link{
	text-decoration: underline;
	color: #02911C;
	text-decoration-color: #02911C;
}
.green-link:hover{
	color: #02911C;
}
.reg-btn{
    font-size: 15px;
    font-family: 'Metropolis Regular';
    color: #FFFFFF;
    background-color: #02911C;
    padding: 14px 40px;
    display: inline-block;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.10);
    border: 0;
}
.reg-btn:hover{
	background-color: #02911C;
}

.custom-check{
	margin-top: 1.5rem;
}

.custom-check p{
	margin-bottom: 0;
}

.option{
	width: 100%;
}

.option span{
	font-size: 16px;
	color: #4A4A4A;
	position: relative;
	display: block;
}

.option span:after{
	/* content: ""; */
    display: inline-block;
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 57%;
    margin: 12px 0px 12px 20px;
    top: 0;
}

.border-green{
	 border: 2px solid #02911C;
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    /*padding: 5px 10px 9px; 
    margin: 20px 15px 0 10px; */
    width: 50px;
    height: 50px;
    margin: 9px;
    padding: 11px;
}

.border-green img{
	width: 20px;
	height: 20px;
}

.img-content{position: relative;}

.img-content p{font-size: 11px;color: #000000;position: absolute;width: 50%;text-align: center;margin: 0 auto;display: block;right: 0;left: 0;bottom: 0;}
/*user-type-page*/
.main-pg {width: 60%;margin: 0 auto;}
.user-type {text-align: center;height: 100%;}
.home-page-title {text-align: center;margin-bottom: 50px;}
.home-page-title h2 {font-weight: bold;margin-bottom: 15px;font-size: 2rem;}
.home-page-title p {color: #9A9A9A;}
.reset-pss-pg-title h2 {font-weight: bold;margin-bottom: 15px;font-size: 2rem;}
.reset-pss-pg-title p {color: #9A9A9A;}
.reset-pss-pg-title{text-align: center;margin-bottom: 30px;}
.reset-pss-pg {margin-top: 50px;}
.user-type-inner {    display: block;height: 100%;padding: 20px;vertical-align: middle;align-self: center;width: 100%;background: transparent;border: 0;border: 3px solid rgba(2, 145, 28);border-top-left-radius: 0px;border-top-right-radius: 40px;border-bottom-right-radius: 40px;border-bottom-left-radius: 40px;}
.user-type-inner:active, .user-type-inner:focus, .user-type-inner:hover {border-color: #E50010;outline: none;}
.user-type-txt p {margin-bottom: 0;margin-top: 20px;color: #02911c;}
.user-type-inner:active .user-type-txt p, .user-type-inner:focus .user-type-txt p, .user-type-inner:hover .user-type-txt p {color: #E50010;}
.user-type-inner:active .user-type-icn path {
    fill: #e50111;
}
.user-type-inner:focus .user-type-icn path {
    fill: #e50111;
}
.user-type-inner:hover .user-type-icn path {
    fill: #e50111;
}

.user-type-inner:active .user-type-icn rect {
    fill: #e50111;
}
.user-type-inner:focus .user-type-icn rect {
    fill: #e50111;
}
.user-type-inner:hover .user-type-icn rect {
    fill: #e50111;
}
.user-type-inner:active .user-type-icn circle {fill: #e50111;}
.user-type-inner:focus .user-type-icn circle {fill: #e50111;}
.user-type-inner:hover .user-type-icn circle {fill: #e50111;}
.user-type-inner:hover .user-type-icn path#Path_8407 {opacity: 0.2;}
.user-type-inner:hover .user-type-icn path#Path_8406 {opacity: 0.2;}
.user-type-inner:hover .user-type-icn path#Path_8409 {opacity: 0.2;}
.user-type-inner:hover .user-type-icn path#Path_8408 {opacity: 0.2;}
.user-type-inner:hover .user-type-icn path#Path_8405 {opacity: 0.2;}
.user-type-inner:focus .user-type-icn path#Path_8407 {opacity: 0.2;}
.user-type-inner:focus .user-type-icn path#Path_8406 {opacity: 0.2;}
.user-type-inner:focus .user-type-icn path#Path_8409 {opacity: 0.2;}
.user-type-inner:focus .user-type-icn path#Path_8408 {opacity: 0.2;}
.user-type-inner:focus .user-type-icn path#Path_8405 {opacity: 0.2;}

.continue-btn-sec {
    text-align: center;
    margin-top: 50px;
}
.continue-btn {
    color: #FFFFFF;
    background-color: #02911C;
    padding: 10px 40px 10px;
    display: inline-block;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 3px 8px #02911c99;
    font-size: 16px;
}
.help-btn-sec {
    position: fixed;
    right: 10%;
    bottom: 30px;
    z-index: 11;
}
.help-btn {
    color: #02911C;
    background-color: #fff;
    padding: 10px 40px 10px;
    display: inline-block;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 0;
    font-weight: 600;
    box-shadow: 0 3px 8px #02911c99;
    font-size: 16px;
    z-index: 111;
}
.menu-right {
    text-align: right;
}
.menu-right button {
    background: transparent;
    border: 0;
}
.menu-btn {
    /* border: 1px solid #03911d !important; */
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10px 30px 10px 0;
    color: #03911d;
}
.btn-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.menu-right .dropdown-item {
    color: #e23744 !important;
}
#otp-form .modal-body {
    width: 100%;
    margin: 0 auto;
}
#otp-form .modal-body input {
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
#otp-form .modal-footer{
	width: 70%;
	margin: 0 auto;
}
#otp-form .modal-footer button{
	width: 100%;
}
#otp-form .modal-inner-title {
    text-align: center;
}
#otp-form .modal-inner-title h5 {
    font-weight: 900;
    margin-bottom: 10px;
}
#otp-form .modal-content {
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 0 0px 50px 0px;
}
.bottom-line {
    margin: 30px 0 0;
    text-align: center;
    color: #03911d;
}
.close {
    color: #03911d;
    font-size: 30px;
}
.menu-right .dropdown {
    /*margin-top: 40px;*/
}
.menu-right .dropdown-menu.show {
    padding: 5px;
    box-shadow: 0 2px 5px 2px #00000024;
    border: 0;
    border-radius: 10px;
}
.modal-footer button {
    padding: 10px 40px;
    box-shadow: 0 3px 8px #02911c99;
    border: 0;
}
#otp-form .modal-body .form-group {
    margin-bottom: 0 !important;
}
.bottom-line img {
    width: 10%;
}

.tnx-content {
	display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
    margin-bottom: 0 !important;
}

.tnx-content h1{
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 10px;
}

.tnx-content p{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0;
}

.gr{
	color: #03911d;
    font-size: 25px;
    font-weight: 700;
}

span.uploadimg {
    position: absolute;
    top: 2px;
    right: 17px;
    margin: 0;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        zoom: 1;  /* Fix for IE7 */

        z-index: 999;
}
.radio_btn {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

/* Hide the browser's default radio button */
.radio_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_btn input:checked ~ .checkmark {
  background-color: #04911e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_btn .checkmark:after {
 	top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}

select.dropdown.form-control.reg-input {
    padding: 13px 10px 12px 13px !important;
    color:#9A9A9A !important;
}

select.dropdown.form-control.reg-input::-webkit-input-placeholder{
    color:#9A9A9A;
}

.frgt-acc {
	color: #9a9a9a;
    font-size: 11px;
    width: auto;
    display: inline-block;
    text-align: right;
    padding: 0 15px 5px;
}

.frgt-acc:hover{color: #9a9a9a;}

.login-section .form-group {
    padding: 0 5px;
    margin-bottom: 0;
}


/* forgot password */
#otp-form-new .modal-body input {
    height: 47px;
}

#otp-form-new .modal-footer button{
	width: 100%;
}
#otp-form-new .modal-inner-title {
    text-align: center;
}
#otp-form-new .modal-inner-title h5 {
    font-weight: 900;
    margin-bottom: 10px;
}
#otp-form-new .modal-content {
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 0 0px 20px 0px;
}

#otp-form-new .modal-dialog {
    max-width: 350px;}

#otp-form-new .modal-body{
	padding:1rem 1rem 0rem 1rem;
}

#otp-form-new .modal-footer{
	padding:0.5rem 0 0;
}

.reg-sec-new{background-image: url(../images/product-pg-bg.png) !important;
    background-repeat: no-repeat;
    padding-bottom: 4rem;}

.upload-btn-wrapper {
        position: relative;
        display: block;
        cursor: pointer;
      }
      
      a.btn-img {
       	font-size: 15px;
	    color: #3A3A3A;
	    padding: 11px 10px 9px 13px;
	    border: 2px solid rgba(2, 145, 28, 0.30);
	    border-top-left-radius: 0px;
	    border-top-right-radius: 40px;
	    border-bottom-right-radius: 40px;
	    border-bottom-left-radius: 40px;
	    height: auto;
	    width: 100%;
	    display:inline-block;
	    margin-bottom: 10px;
	    text-align: center;
      }
      
      .upload-btn-wrapper input[type=file] {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }

      .upload-border {
    padding: 25px 0 0px;
}

.code-btn{
	padding: 10px 35px !important;
}

button.btn.dropdown-toggle.bs-placeholder.btn-light {
    background-color: transparent;
    padding: 0;
    font-size: unset;
    border: none;
}

button.btn.dropdown-toggle.bs-placeholder.btn-light:focus{
	outline: none !important;
	border-color:transparent;
	border:none;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
	background-color: transparent;
	border:none;
	padding: 0;
    font-size: unset;
}

.bootstrap-select .dropdown-toggle .filter-option{
	padding: 0;
}

.bs-searchbox {
    display: none;
}
button.btn.dropdown-toggle.btn-light {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: normal;
    font-size: unset;
}
.help-btn-sec a:hover {
    background: #03911d;
}
#forgot-request-otp .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 20px;
}
h5#exampleModalLabel {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
#forgot-request-otp input {
    padding: 10px 15px;
}
button.btn.dropdown-toggle.btn-light.bs-placeholder {
    /* position: absolute; */
    height: 100%;
}
.dropdown.bootstrap-select.form-control.reg-input {
    padding: 0;
    position: relative !important;
}
.dropdown.bootstrap-select.form-control.reg-input button {
    padding: 10px 15px;
    line-height: 1.5;
}
/*timer*/
.timer-inner {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  color: #01911d !important;
  text-align: center;
  font-size: 70px;
  font-weight: 800 !important;
  border: 2px solid #02911C;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 100%;
}
#timer span {
  display: block;
  font-size: 20px;
  color: #01911d;
}
#timer {
    text-align: center;
}
.timer-title h3{
    color: #01911d;
}
.timer-title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.timer-title h3 {
    color: #02911e;
    font-weight: 900;
}
#countdown {
    position: relative;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    /* color: white; */
    display: inline-block;
    line-height: 40px;
  }
  
  #countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  #countdown svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: #02911C;
    fill: #02911c3b;
    animation: countdown 30s linear infinite forwards;
  }
  .otp-input{
    border: 2px solid rgba(2, 145, 28, 0.30) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    text-align: center;
  }
  input:focus {
    outline: 0 !important;
}
/* li.parsley-required {
    margin-top: 15px;
} */
.login-section li.parsley-required {
    margin-top: 0;
}
ul.dropdown-menu.inner.show li a span {
    color: #00911c;
}
.dropdown.bootstrap-select.form-control.reg-input div.dropdown-menu.show{
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.dropdown.bootstrap-select.form-control.reg-input.stateSelect div.dropdown-menu.show{
    transform: translateY(34px) !important;
}
.dropdown.bootstrap-select.form-control.reg-input.citySelect div.dropdown-menu.show{
    transform: translateY(34px) !important;
}
.dropdown.bootstrap-select.form-control.reg-inpu.areaSelect div.dropdown-menu.show{
    transform: translateY(34px) !important;
}
.dropdown.bootstrap-select.form-control.reg-input {
    margin-bottom: 0;
}
.dropdown.bootstrap-select.form-control.reg-input .dropdown-item.active,.dropdown.bootstrap-select.form-control.reg-input .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #03911d3b;
}
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }

.btn-light.focus, .btn-light:focus {
    box-shadow: none !important;
}
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 0 !important;
    outline-offset: -2px;
}
.vedio-sec-title h3 {
    font-size: 20px;
    color: #00911c;
    font-weight: bold;
    text-align: center;
}
.vedio-sec-title h3 {
    font-size: 20px;
    color: #00911c;
    font-weight: bold;
    text-align: center;
}
.vdo-sec-inner {
    border: 3px solid rgba(2, 145, 28);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 15px;
    cursor: pointer;
}
p.wel-inner {
    color: #000;
    text-align: center;
    font-size: 18px;
}
.vdo-sec {
    width: 80%;
    margin: 0 auto 30px;
}
.vdo-sec button {
    background: transparent;
    border: 0;
}

.vdo-sec-inner h5 {
    font-size: 16px !important;
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 600;
    margin-left: 8px;
}
.modal-body iframe {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.modal-content {
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.welcome-pg-title h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 2rem;
    text-align: center;
  }
  .welcome-pg-title{
    margin-bottom: 30px;
  }
  .help-form input {
    margin-bottom: 1rem;
}
.help-form textarea {
    width: 100%;
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px 10px 7px 15px;
    font-size: 14px;
}
.dropup .dropdown-toggle::after{
    display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.inner.show::-webkit-scrollbar { width: 0 !important }
a.got-back-home {
    color: #02911C;
    background-color: #fff;
    padding: 10px 0;
    display: inline-block;
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid #02911C;
    font-weight: 600;
    font-size: 16px;
    width: 36% !important;
    margin: 30px auto 50px;
}
a.got-back-home:hover{
    color: #fff;
    background-color: #02911C;
}
button.sccial-btn-inner img {
    width: 80%;
}
button.sccial-btn-inner {
    background: transparent;
    padding: 0;
    border: 0;
}
.social-icons {
    width: auto;
}
.social-icons p {
    color: #019129;
    margin-right: 15px;
    font-size: 24px;
    font-weight: 800;
}
.tq-pg {
    padding: 13rem 0 0 !important;
}
a.got-back-home i {
    font-size: 24px;
    vertical-align: sub;
}
.menu-right .dropdown-item.active, .menu-right .dropdown-item:active {
    text-decoration: none;
    background-color: #f443361a!important;
    border: 0 !important;
    outline: 0;
}
.frgt-acc {
    position: absolute;
    top: 2px;
    display: inline-block;
    width: auto;
    right: 10px;
    font-size: 13px;
    color: #03911d !important;
    font-weight: 700;
    padding: 0 15px;
    height: 34px;
    line-height: 36px;
    background: #fff;
    border-radius: 30px;
    border: 0;
}
.edit-email {
    background: transparent;
    font-size: 20px;
    color: #3A3A3A;
    padding: 8px 10px 7px 15px;
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: auto;
    width: 100%;
}
.edit-email-sec {
    position: relative;
}
.email-verification-pg {
    padding-top: 13rem;
}

.email-verification-pg h1 {
    margin-bottom: 30px;
}
.edit-email-btn {
    border: 0;
    background: transparent;
    color: #03911d;
    padding: 0;
    cursor: pointer !important;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
}
button.get-link-btn {
    font-size: 18px;
    font-family: 'Metropolis Regular';
    color: #02911C;
    background-color: transparent;
    display: inline-block;
    border: 0;
    cursor: pointer;
}
.didt-get p {
    color: #9A9A9A;
    margin-bottom: 5px;
    font-size: 16px;
}
.didt-get {
    margin-top: 26px;
}
.form-reg .form-group {
    position: relative;
    margin-bottom: 30px;
}
.form-reg li.parsley-type {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
}
.form-reg li.parsley-required {
    margin-top: 0;
    position: absolute;
    bottom: -18px;
    font-size: 12px;
}
.form-reg li.parsley-equalto {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
}
.form-reg li.parsley-pattern {
    position: absolute;
    line-height: 1.2;
    font-size: 12px;
    bottom: -47px;
}
p.parsley-error label {
    margin-bottom: 0;
}
.mobile-menu-sec li.parsley-required {
    position: absolute;
    bottom: 13px;
    vertical-align: text-bottom;
    font-size: 12px;
}
input:disabled {
    border: 2px solid #80808042;
    background: #80808024;
    color: #3a3a3ad1;
    cursor: not-allowed;
}

.help-form textarea:focus {
    border-color: rgba(2, 145, 28, 0.30) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(2, 145, 28, 0.30) !important;
}
.form-reg-inner .form-group input, .form-reg-inner .form-group select, .form-reg-inner .form-group textarea{
    margin-bottom: 0;
}

.form-reg-inner .form-group {
    position: relative;
    margin-bottom: 30px;
}
.form-reg-inner li.parsley-required {
    position: absolute;
    /* bottom: -17px; */
    bottom: -14px;
    font-size: 13px;
}
.reg-right-sec{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
select.selectpicker.dropdown.form-control.reg-input {
    position: absolute !important;
    width: 100% !important;
    left: 0;
    top: 0;
}
.dropdata .dropdown-menu.show {
    top: 0 !important;
    min-height: 130px !important;
    /* max-height: 500px !important; */
    transform: inherit !important;
    position: -webkit-sticky !important;
    position: relative !important;
    height: auto !important;
    transform: translateY(0) !important;
    z-index: 11;
}

.mlt-fl-upld {
    position: relative;
}

button.mlt-fl-upld-btn {
    background: transparent;
    padding: 10px 35px;
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;
}

.mlt-fl-upld-row {
    margin-top: 30px;
}

.mlt-fl-upld input[type="file"] {
    position: absolute;
    left: 0;
    height: 48px;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.mlt-fl-upld-row {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px 15px 0;
}

.mlt-fl-upld-row p {
    position: absolute;
    right: 30px;
    top: 10px;
}
.upmaindiv-inner img {
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0;
    box-shadow: 0px 3px 6px 1px #0191294d;
    border-radius: 15px;
   
}
.upmaindiv-inner {
    border: 2px solid rgba(2, 145, 28, 0.30);
    border-top-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 15px 10px 0;
    margin-top: 30px;
}
button.btn.btn-danger.btn-xs {
    position: absolute;
    left: 3px;
    top: 7px;
    border-radius: 50%;
    padding: 6px;
    line-height: 1;
    font-size: 14px;
    font-weight: 300 !important;
    width: 25px !important;
    height: 25px;
    color: #e33744;
    border: 0;
    background: #ffccd0;
    opacity: 0.7;
}
button.btn.btn-danger.btn-xs:hover {
    opacity: 1;
}
.upmaindiv-inner {
    position: relative;
}
p.fl-name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: #009128;
}
p.fl-size {
    font-size: 12px;
    color: #9A9A9A;
}

.row.upmaindiv-row {
    margin: 0;
}

.tc-pg h1 {
    font-weight: 700;
}

.tc-pg h2 {
    font-weight: 700;
}
/* footer */
.footer-top {
    border-top:1px solid #E2E2E2;
    padding: 50px 0;
}

.footer-logo {
    width: 60%;
    margin-bottom:30px;
}

.footer-inner-sec p {
    color: #828282;
}

.team-memter-main {
    border: 1px solid #D6D6D6;
    margin-bottom: 30px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.team-memer-name p {
    margin-bottom: 0;
    font-size: 14px;
}

.team-memer-name {
    padding-left: 20px;
}
.team-memer-name h5 {
    font-size: 18px;
}
.footer-title h4 {
    color: #02911C;
    margin-bottom: 30px;
    font-size: 20px;
}
.team-member-inner {
    align-items: center;
}
.footer-contact-inner {
    margin-bottom: 25px;
}

.contact-text {
    margin-left: 10px;
}

.contact-text p {
    margin-bottom: 0;
}

.contact-text a {
    color: #000;
}
.contact-text p {
    color: #000;
}
.social-links-inner {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
}
.footer-bottom p {
    margin-bottom: 0;
    color: #828282;
}
.footer-top .container-fluid {
    width: 95%;
}
.footer-bottom {
    border: 1px solid #D6D6D6;
    padding: 20px 0;
}
.contact-text a:hover {
    color: #02911c;
}
.social-links-inner a {
    margin-left: 30px;
}
.footer-title-social{
    text-align: right;
}
footer {
    float: left;
    width: 100%;
    clear: both;
}
.footer-inner-sec {
    display: flex;
    flex-direction: column;
}

a.usefull-links {
    margin-bottom: 15px;
    color: #000;
}
a.usefull-links:hover {
    color: #02911c;
}
/* about */
.core-inner {
    width: calc(100% / 7);
    margin: 0 15px;
}
.about-us-pg{
    float: left;
    width: 100%;
    padding: 7rem 0 8rem;
}
.bg-gray{
    background-color: #F5F5F5;
}
.about-secs {
    margin: 75px 0;
}

.bg-gray {
    padding:65px 0;
}

.about-title h3 {
    text-align: center;
    margin-bottom:65px;
    color: #02911c;
    font-weight: 600;
}

.vm-sec {
    text-align: center;
}

.vm-sec img {
    margin-bottom: 30px;
}

.vm-sec h4 {
    font-weight: 600;
    color: #02911c;
    margin-bottom: 15px;
}
.coduct-statement-list ul {list-style: none;}
.coduct-statement-list ul li {
    position: relative;
    margin-bottom: 10px;
}
.coduct-statement-list ul li:before {content: '';width: 18px;height: 18px;position: absolute;display: block;background: #02911c;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;left: -30px;top: 2px;}
.core-inner h1 {
    font-size: 80px;
    font-weight: 900;
    color: #02911c;
}
.core-inner {
    text-align: center;
}
.core-inner h4 {
    color: #02911c;
    font-size: 20px;
}
.core-inner p {
    font-size: 14px;
}
.banenr-inner-sec h5 {
    font-weight: 700;
    margin-bottom: 10px;
}
.testimonials .testimonial-wrap {
    padding-left: 0;
    width: calc(100% / 2);
    /* height: 100%; */
}
.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 0 15px;
    /* min-height: 200px; */
    box-shadow: 0px 7px 19px rgba(2, 145, 28, 0.22);
    position: relative;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
}
.testimonials .testimonial-item .testimonial-img {
    width: 130px;
    /* border-radius: 0; */
    /* border: 0; */
    /* position: absolute; */
    /* left: -65px; */
    /* top: 20%; */
    margin-bottom: 20px;
}
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #e1f0fa;
    font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .testimonials .testimonial-item p {
    /* font-style: italic;
    margin: 15px auto 15px auto; */
        /* font-style: italic; */
        margin: 15px auto 15px auto;
        font-size: 14px;
  }
  
  .testimonials .owl-nav, .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
  }
  
  .testimonials .owl-dot.active {
    background-color: #3498db !important;
  }
  .owl-carousel.testimonials-carousel {
    display: flex;
    height: 100%;
}
p.team-mail-id i {
    font-size: 20px !important;
    color: #02911c;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -2px;
}
p.team-mail-id a {
    color: #02911c;
    font-size: 16px;
}
p.team-mail-id a:hover {
    border-bottom: 1px solid #02911c;
}
.reg-section.reg-section-new {
    padding: 6rem 0;
}
.main-innerpages{
    background: url('../images/product-pg-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-innerpages {
    float: left;
    width: 100%;
}
.rememer-div .form-group.custom-control.custom-checkbox {
    text-align: right;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin-top: 5px;
}       
.radio_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .form-group.custom-control.custom-checkbox {
    text-align: right;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.form-group.custom-control.custom-checkbox .custom-control-input {
  position: absolute;
  left: -19px;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
  content: '\2713\0020';
  position: absolute;
  top: 0px;
  /* left: 3px; */
  font-size: 24px;
  line-height: 0.8;
  color: #02911C;
  transition: all .2s;
}
.custom-control-label::before {
  position: absolute;
  top: 2px;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: 2px solid #03911d;
  border-radius: 0 !important;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #03911d;
  background-color: transparent;
}
  /* Create a custom checkbox */
  .checkmark1 {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #02911C;
    border-radius: 2px;
    background-color: transparent;
  }
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio_btn input:checked ~ .checkmark1:after {
    display: block;
  }
  .radio_btn .checkmark1:after {
    content: '\2713\0020';
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 27px;
    line-height: 0.6;
    color: #02911C;
    transition: all .2s;
  }
  .filter-option-inner-inner {
    height: 42px;
    line-height: 42px;
    padding-left: 15px;
}